header {
    background-color: var(--color-grey-5);
    height: 8.25rem;
}

header > h1 > span {
    color: var(--color-brand-1);
}

header > button {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
    padding: 0.5rem;
}